body {
  margin: 0;
  background-color: #f6f3f4;
  font-family: "Fondamento", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// See https://css-tricks.com/overriding-default-button-styles/
button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0;
  background: #F3F8F2;
  text-decoration: none;
  border: 1px solid #808080;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  font-family: "Fondamento", cursive;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;

  &:active {
    background: #E7F1E4;
    transform: scale(0.98);
  }
}
