img {
  display: block;
  max-width: 100%;
}

summary {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

details {
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
}

.mapquiz {
  margin: 0 auto;
  max-width: 1400px;

  h1 {
    margin-left: 40px;
  }
}

.map-and-legend {
  display: flex;
  justify-content: center;
}

.map__wrapper {
  margin-left: 40px;
}

.legend__wrapper {
  margin-left: 40px;
  width: 50%;
  white-space: pre-line;
}
