body {
  margin: 0;
  background-color: #f1f7f8;
  min-width: 100vw;
  min-height: 100vh;
  padding-bottom: 40px;
  font-family: "Fondamento", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// See https://css-tricks.com/overriding-default-button-styles/
button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0;
  background: #f3f8f2;
  text-decoration: none;
  border: 1px solid #808080;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  font-family: "Fondamento", cursive;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;

  &:active {
    background: #e7f1e4;
    transform: scale(0.98);
  }
}

a {
  color: #800080; // #990099;
  text-decoration: none;
}

p {
  letter-spacing: 0.25px;
}
